---

import Layout from '../layouts/Layout.astro';
import '../styles/style.css';

import '@fontsource/onest/400.css';
import '@fontsource/onest/500.css';
import '@fontsource/onest/600.css';
import '@fontsource/onest/700.css';
import '@fontsource/onest/800.css';
import '@fontsource/onest/900.css';
---

<Layout>

    <div class="social-media">
        <a href="https://github.com/GabrielAedoPozo"><i class="fa-brands fa-github"></i></a>
        <i class="fa-brands fa-linkedin"></i>
    </div>

    <section id="inicio">
        <div class="contenido">
            <p>Frontend developer</p>
            <h1>Hey! soy Gabriel Aedo</h1>
        </div>

        <div class="arrow-container">
            <i class="fas fa-arrow-down arrow-down"></i>
        </div>
    </section>

    <section id="sobremi">
        <div class="contenido2">
            <h1>Sobre mí</h1>
            <p>Soy Gabriel, tengo 12 años y soy de Lima, Perú 🇵🇪. Llevo 9 meses programando, empecé con Python y ahora llevo 7 meses en Frontend. Estudio en secundaria y también aprendo en Frontend Masters. Me encantan los videojuegos, las matemáticas y trabajar en equipo. Actualmente aprendiendo React. <i class="fa-brands fa-react"></i></p>
        </div>

        <div class="imagen-perfil">
            <div class="placeholder-perfil">
                <i class="fas fa-user"></i>
                <p>Foto de perfil</p>
            </div>
        </div>
    </section>

    <section id="Habilidades">
        <div class="contenido2">
            <h1>Habilidades</h1>
            <div class="contenedor-hab">
                <div class="habilidades-grid">
                    
                    <div class="habilidad">
                        <div class="icono">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48">
                                <path fill="#E65100" d="M41,5H7l3,34l14,4l14-4L41,5L41,5z"></path>
                                <path fill="#FF6D00" d="M24 8L24 39.9 35.2 36.7 37.7 8z"></path>
                                <path fill="#FFF" d="M24,25v-4h8.6l-0.7,11.5L24,35.1v-4.2l4.1-1.4l0.3-4.5H24z M32.9,17l0.3-4H24v4H32.9z"></path>
                                <path fill="#EEE" d="M24,30.9v4.2l-7.9-2.6L15.7,27h4l0.2,2.5L24,30.9z M19.1,17H24v-4h-9.1l0.7,12H24v-4h-4.6L19.1,17z"></path>
                            </svg>
                        </div>
                        <span>HTML5</span>
                        <div class="brillo"></div>
                    </div>
                    
                    <div class="habilidad">
                        <div class="icono">
                            <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="48" height="48" viewBox="0 0 48 48">
                                <linearGradient id="TQDriqswrKwPOniLrPT12a_7gdY5qNXaKC0_gr1" x1="16.33" x2="32.293" y1="-2.748" y2="41.109" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#2aa4f4"></stop><stop offset="1" stop-color="#007ad9"></stop></linearGradient><path fill="url(#TQDriqswrKwPOniLrPT12a_7gdY5qNXaKC0_gr1)" d="M7.192,7.176l2.627,29.77c0.109,1.237,0.97,2.28,2.164,2.621l10.643,3.041	c0.898,0.257,1.849,0.257,2.747,0l10.643-3.041c1.194-0.341,2.055-1.383,2.164-2.621l2.627-29.77C40.911,6.006,39.99,5,38.816,5	H9.184C8.01,5,7.089,6.006,7.192,7.176z"></path><path fill="#35c1f1" d="M24,8v31.9l9.876-2.822c0.797-0.228,1.371-0.924,1.443-1.749l2.286-26.242	C37.656,8.502,37.196,8,36.609,8H24z"></path><path fill="#fff" d="M33.1,13H24v4h4.9l-0.3,4H24v4h4.4l-0.3,4.5L24,30.9v4.2l7.9-2.6L32.6,21l0,0L33.1,13z"></path><path fill="#d6e0e9" d="M24,13v4h-8.9l-0.3-4H24z M19.4,21l0.2,4H24v-4H19.4z M19.8,27h-4l0.3,5.5l7.9,2.6v-4.2l-4.1-1.4	L19.8,27z"></path><path d="M33.1,13l-0.5,8l-0.7,11.5L24,35.1l-7.9-2.6L15.8,27h4l0.1,2.5l4.1,1.4l4.1-1.4l0.3-4.5H24h-4.4l-0.2-4H24h4.6l0.3-4H24 h-8.9l-0.3-4H24H33.1 M34.164,12H33.1H24h-9.2h-1.078l0.081,1.075l0.3,4L14.172,18H15.1H24h3.822l-0.15,2H24h-4.6h-1.051 l0.052,1.05l0.2,4L18.649,26H15.8h-1.056l0.058,1.054l0.3,5.5l0.037,0.682l0.649,0.214l7.9,2.6L24,36.153l0.313-0.103l7.9-2.6 l0.644-0.212l0.041-0.677l0.7-11.5l0.5-7.998L34.164,12L34.164,12z M20.761,26H24h3.331l-0.185,2.769L24,29.843l-3.128-1.068 l-0.073-1.815L20.761,26L20.761,26z" opacity=".05"></path><path d="M33.1,13l-0.5,8l-0.7,11.5L24,35.1l-7.9-2.6L15.8,27h4l0.1,2.5l4.1,1.4l4.1-1.4l0.3-4.5H24h-4.4l-0.2-4H24h4.6l0.3-4H24 h-8.9l-0.3-4H24H33.1 M33.632,12.5H33.1H24h-9.2h-0.539l0.04,0.537l0.3,4l0.035,0.463H15.1H24h4.361l-0.225,3H24h-4.6h-0.526 l0.026,0.525l0.2,4l0.024,0.475H19.6H24h3.866l-0.242,3.634L24,30.372l-3.614-1.234L20.3,26.98L20.28,26.5H19.8h-4h-0.528 l0.029,0.527l0.3,5.5l0.019,0.341l0.324,0.107l7.9,2.6L24,35.626l0.156-0.051l7.9-2.6l0.322-0.106l0.021-0.339l0.7-11.5l0.5-7.999 L33.632,12.5L33.632,12.5z" opacity=".07"></path>
                            </svg>
                        </div>
                        <span>CSS3</span>
                        <div class="brillo"></div>
                    </div>
                    
                    <div class="habilidad">
                        <div class="icono">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48">
                                <path fill="#FFD600" d="M6,42V6h36v36H6z"></path>
                                <path fill="#000001" d="M29.538 32.947c.692 1.124 1.444 2.201 3.037 2.201 1.338 0 2.04-.665 2.04-1.585 0-1.101-.726-1.492-2.198-2.133l-.807-.344c-2.329-.988-3.878-2.226-3.878-4.841 0-2.41 1.845-4.244 4.728-4.244 2.053 0 3.528.711 4.592 2.573l-2.514 1.607c-.553-.988-1.151-1.377-2.078-1.377-.946 0-1.545.597-1.545 1.377 0 .964.6 1.354 1.985 1.951l.807.344C36.452 29.645 38 30.839 38 33.523 38 36.415 35.716 38 32.65 38c-2.999 0-4.702-1.505-5.65-3.368L29.538 32.947zM17.952 33.029c.506.906 1.275 1.603 2.381 1.603 1.058 0 1.667-.418 1.667-2.043V22h3.333v11.101c0 3.367-1.953 4.899-4.805 4.899-2.577 0-4.437-1.746-5.195-3.368L17.952 33.029z"></path>
                            </svg>
                        </div>
                        <span>JavaScript</span>
                        <div class="brillo"></div>
                    </div>
                   
                    <div class="habilidad">
                        <div class="icono">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48">
                                <path fill="#0277BD" d="M24.047,5c-1.555,0.005-2.633,0.142-3.936,0.367c-3.848,0.67-4.549,2.077-4.549,4.67V14h9v2H15.22h-4.35c-2.636,0-4.943,1.242-5.674,4.219c-0.826,3.417-0.863,5.557,0,9.125C5.851,32.005,7.294,34,9.931,34h3.632v-5.104c0-2.966,2.686-5.896,5.764-5.896h7.236c2.523,0,5-1.862,5-4.377v-8.586c0-2.439-1.759-4.263-4.218-4.672C27.406,5.359,25.589,4.994,24.047,5z M19.063,9c0.821,0,1.5,0.677,1.5,1.502c0,0.833-0.679,1.498-1.5,1.498c-0.837,0-1.5-0.664-1.5-1.498C17.563,9.68,18.226,9,19.063,9z"></path>
                                <path fill="#FFC107" d="M23.078,43c1.555-0.005,2.633-0.142,3.936-0.367c3.848-0.67,4.549-2.077,4.549-4.67V34h-9v-2h9.343h4.35c2.636,0,4.943-1.242,5.674-4.219c0.826-3.417,0.863-5.557,0-9.125C41.274,15.995,39.831,14,37.194,14h-3.632v5.104c0,2.966-2.686,5.896-5.764,5.896h-7.236c-2.523,0-5,1.862-5,4.377v8.586c0,2.439,1.759,4.263,4.218,4.672C19.719,42.641,21.536,43.006,23.078,43z M28.063,39c-0.821,0-1.5-0.677-1.5-1.502c0-0.833,0.679-1.498,1.5-1.498c0.837,0,1.5,0.664,1.5,1.498C29.563,38.32,28.899,39,28.063,39z"></path>
                            </svg>
                        </div>
                        <span>Python</span>
                        <div class="brillo"></div>
                    </div>
                    
                    <div class="habilidad">
                        <div class="icono">
                            <svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 64 64" width="64px" height="64px" baseProfile="basic"><linearGradient id="gMG_mkMd2oq4lWjgJJZtFa" x1="32.125" x2="32.125" y1="44.574" y2="60.885" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#8ab4ff"/><stop offset="1" stop-color="#e492ff"/></linearGradient><path fill="url(#gMG_mkMd2oq4lWjgJJZtFa)" d="M32,47c-4.272,0-7.909-0.94-9.341-2.259C22.336,47.076,22.248,51.248,25,54	c0,0,0.615-3.824,3.5-3c1.75,0.5,1.25,3,1.25,4.875C29.75,56.875,30,59,34,61c0,0-2-5,4-8c4.198-2.099,3.989-6.15,3.486-8.397	C40.165,45.995,36.421,47,32,47z"/><linearGradient id="gMG_mkMd2oq4lWjgJJZtFb" x1="32" x2="32" y1="2.824" y2="62.426" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#1a6dff"/><stop offset="1" stop-color="#c822ff"/></linearGradient><path fill="url(#gMG_mkMd2oq4lWjgJJZtFb)" d="M51,42c-0.099,0-0.197-0.015-0.294-0.044l-13-4c-0.338-0.104-0.596-0.379-0.679-0.723	l-5.103-21.259L25.963,37.27c-0.09,0.319-0.332,0.574-0.646,0.679l-12,4c-0.355,0.12-0.745,0.029-1.012-0.229	c-0.268-0.26-0.369-0.646-0.264-1.004l11-37C23.168,3.291,23.558,3,24,3h16c0.442,0,0.832,0.291,0.959,0.715l11,37	c0.104,0.354,0.007,0.736-0.255,0.996C51.514,41.898,51.26,42,51,42z M38.839,36.212l10.671,3.283L39.254,5H24.746l-10.24,34.444	l9.675-3.226L30,15.436c0.249-0.891,1.055-1.451,1.963-1.461c0.925,0.018,1.691,0.634,1.907,1.533L38.839,36.212z"/><linearGradient id="gMG_mkMd2oq4lWjgJJZtFc" x1="32.126" x2="32.126" y1="2.824" y2="62.426" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#1a6dff"/><stop offset="1" stop-color="#c822ff"/></linearGradient><path fill="url(#gMG_mkMd2oq4lWjgJJZtFc)" d="M33.996,61.999c-0.151,0-0.303-0.034-0.443-0.104c-3.187-1.594-4.803-3.619-4.803-6.02	c0-0.351,0.017-0.722,0.033-1.099c0.069-1.535,0.07-2.636-0.558-2.814c-0.593-0.171-0.918-0.027-1.11,0.094	c-0.718,0.457-1.063,1.703-1.128,2.104c-0.06,0.37-0.322,0.677-0.68,0.792c-0.356,0.118-0.749,0.021-1.015-0.244	c-3.074-3.074-2.964-7.649-2.624-10.103c0.051-0.369,0.303-0.679,0.652-0.805c0.35-0.125,0.741-0.047,1.016,0.206	C24.379,44.966,27.534,46,32,46c4.453,0,7.777-1.049,8.76-2.086c0.254-0.268,0.635-0.373,0.991-0.275s0.629,0.385,0.71,0.745	c0.961,4.288-0.502,7.754-4.014,9.511c-4.981,2.49-3.681,6.313-3.517,6.74c0.148,0.385,0.046,0.825-0.26,1.103	C34.482,61.909,34.24,61.999,33.996,61.999z M27.724,49.885c0.34,0,0.692,0.051,1.051,0.153c2.196,0.628,2.087,3.056,2.007,4.828	c-0.016,0.346-0.031,0.687-0.031,1.009c0,0.476,0,1.736,1.946,3.177c-0.002-2.017,0.813-4.924,4.856-6.946	c2.722-1.361,3.322-3.673,3.183-5.761C38.738,47.376,35.556,48,32,48c-3.382,0-6.477-0.579-8.489-1.537	c-0.062,1.66,0.14,3.727,1.153,5.47c0.308-0.578,0.75-1.165,1.378-1.564C26.547,50.047,27.116,49.885,27.724,49.885z"/><linearGradient id="gMG_mkMd2oq4lWjgJJZtFd" x1="32.023" x2="32.023" y1="6.948" y2="36.278" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#8ab4ff"/><stop offset="1" stop-color="#e492ff"/></linearGradient><path fill="url(#gMG_mkMd2oq4lWjgJJZtFd)" d="M37.762,7H26.238l-8.72,29.332l5.023-1.675l5.533-19.76c0.483-1.728,2.037-2.903,3.868-2.922	l0.03,0l0.03,0.001c1.85,0.035,3.382,1.267,3.814,3.066l4.703,19.595l6.011,1.849L37.762,7z"/></svg>
                        </div>
                        <span>Astro</span>
                        <div class="brillo"></div>
                    </div>
                    
                    <div class="habilidad">
                        <div class="icono">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48">
                                <path fill="#3F51B5" d="M8 12H40V36H8z"></path>
                                <path fill="#90CAF9" d="M14 14H34V34H14z"></path>
                                <path fill="#E1F5FE" d="M20 18H28V30H20z"></path>
                                <path fill="#1976D2" d="M17 18H19V30H17z"></path>
                                <path fill="#1976D2" d="M29 18H31V30H29z"></path>
                            </svg>
                        </div>
                        <span>Responsive</span>
                        <div class="brillo"></div>
                    </div>

                    <div class="habilidad">
                        <div class="icono">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48">
                                <path fill="#00ACC1" d="M24,9.604c-6.4,0-10.4,3.199-12,9.597c2.4-3.199,5.2-4.398,8.4-3.599c1.826,0.456,3.131,1.781,4.576,3.247C27.328,21.236,30.051,24,36,24c6.4,0,10.4-3.199,12-9.598c-2.4,3.199-5.2,4.399-8.4,3.6c-1.825-0.456-3.13-1.781-4.575-3.247C32.672,12.367,29.948,9.604,24,9.604L24,9.604z M12,24c-6.4,0-10.4,3.199-12,9.598c2.4-3.199,5.2-4.399,8.4-3.599c1.825,0.457,3.13,1.781,4.575,3.246c2.353,2.388,5.077,5.152,11.025,5.152c6.4,0,10.4-3.199,12-9.598c-2.4,3.199-5.2,4.399-8.4,3.599c-1.826-0.456-3.131-1.781-4.576-3.246C20.672,26.764,17.949,24,12,24L12,24z"></path>
                            </svg>
                        </div>
                        <span>Tailwind</span>
                        <div class="brillo"></div>
                    </div>
                    
                    <div class="habilidad">
                        <div class="icono">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48">
                                <path fill="#E64A19" d="M26,17h-8c-3.866,0-7-3.134-7-7v0c0-3.866,3.134-7,7-7h8V17z"></path>
                                <path fill="#7C4DFF" d="M25,31h-7c-3.866,0-7-3.134-7-7v0c0-3.866,3.134-7,7-7h7V31z"></path>
                                <path fill="#66BB6A" d="M18,45L18,45c-3.866,0-7-3.134-7-7v0c0-3.866,3.134-7,7-7h7v7C25,41.866,21.866,45,18,45z"></path>
                                <path fill="#FF7043" d="M32,17h-7V3h7c3.866,0,7,3.134,7,7v0C39,13.866,35.716,17,32,17z"></path>
                                <circle cx="32" cy="24" r="7" fill="#29B6F6"></circle>
                            </svg>
                        </div>
                        <span>Figma</span>
                        <div class="brillo"></div>
                    </div>
                    
                    <div class="habilidad">
                        <div class="icono">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48">
                                <path fill="#29B6F6" d="M44,11.11v25.78c0,1.27-0.79,2.4-1.98,2.82l-8.82,4.14L34,33V15L33.2,4.15l8.82,4.14C43.21,8.71,44,9.84,44,11.11z"></path>
                                <path fill="#0277BD" d="M9,33.896L34,15V5.353c0-1.198-1.482-1.758-2.275-0.86L4.658,29.239c-0.9,0.83-0.849,2.267,0.107,3.032c0,0,1.324,1.232,1.803,1.574C7.304,34.37,8.271,34.43,9,33.896z"></path>
                                <path fill="#0288D1" d="M9,14.104L34,33v9.647c0,1.198-1.482,1.758-2.275,0.86L4.658,18.761c-0.9-0.83-0.849-2.267,0.107-3.032c0,0,1.324-1.232,1.803-1.574C7.304,13.63,8.271,13.57,9,14.104z"></path>
                            </svg>
                        </div>
                        <span>VS Code</span>
                        <div class="brillo"></div>
                    </div>

                    <div class="habilidad">
                        <div class="icono">
                            <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="48" height="48" viewBox="0 0 48 48">
                                <path fill="#00549d" fill-rule="evenodd" d="M22.903,3.286c0.679-0.381,1.515-0.381,2.193,0 c3.355,1.883,13.451,7.551,16.807,9.434C42.582,13.1,43,13.804,43,14.566c0,3.766,0,15.101,0,18.867 c0,0.762-0.418,1.466-1.097,1.847c-3.355,1.883-13.451,7.551-16.807,9.434c-0.679,0.381-1.515,0.381-2.193,0 c-3.355-1.883-13.451-7.551-16.807-9.434C5.418,34.899,5,34.196,5,33.434c0-3.766,0-15.101,0-18.867 c0-0.762,0.418-1.466,1.097-1.847C9.451,10.837,19.549,5.169,22.903,3.286z" clip-rule="evenodd"></path><path fill="#0086d4" fill-rule="evenodd" d="M5.304,34.404C5.038,34.048,5,33.71,5,33.255 c0-3.744,0-15.014,0-18.759c0-0.758,0.417-1.458,1.094-1.836c3.343-1.872,13.405-7.507,16.748-9.38 c0.677-0.379,1.594-0.371,2.271,0.008c3.343,1.872,13.371,7.459,16.714,9.331c0.27,0.152,0.476,0.335,0.66,0.576L5.304,34.404z" clip-rule="evenodd"></path><path fill="#fff" fill-rule="evenodd" d="M24,10c7.727,0,14,6.273,14,14s-6.273,14-14,14 s-14-6.273-14-14S16.273,10,24,10z M24,17c3.863,0,7,3.136,7,7c0,3.863-3.137,7-7,7s-7-3.137-7-7C17,20.136,20.136,17,24,17z" clip-rule="evenodd"></path><path fill="#0075c0" fill-rule="evenodd" d="M42.485,13.205c0.516,0.483,0.506,1.211,0.506,1.784 c0,3.795-0.032,14.589,0.009,18.384c0.004,0.396-0.127,0.813-0.323,1.127L23.593,24L42.485,13.205z" clip-rule="evenodd"></path><path fill="#fff" fill-rule="evenodd" d="M31 21H33V27H31zM38 21H40V27H38z" clip-rule="evenodd"></path><path fill="#fff" fill-rule="evenodd" d="M29 23H35V25H29zM36 23H42V25H36z" clip-rule="evenodd"></path>
                            </svg>
                        </div>
                        <span>C++</span>
                        <div class="brillo"></div>
                    </div>

                    <div class="habilidad">
                        <div class="icono">
                            <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="48" height="48" viewBox="0 0 48 48">
                                <path fill="#F4511E" d="M42.2,22.1L25.9,5.8C25.4,5.3,24.7,5,24,5c0,0,0,0,0,0c-0.7,0-1.4,0.3-1.9,0.8l-3.5,3.5l4.1,4.1c0.4-0.2,0.8-0.3,1.3-0.3c1.7,0,3,1.3,3,3c0,0.5-0.1,0.9-0.3,1.3l4,4c0.4-0.2,0.8-0.3,1.3-0.3c1.7,0,3,1.3,3,3s-1.3,3-3,3c-1.7,0-3-1.3-3-3c0-0.5,0.1-0.9,0.3-1.3l-4-4c-0.1,0-0.2,0.1-0.3,0.1v10.4c1.2,0.4,2,1.5,2,2.8c0,1.7-1.3,3-3,3s-3-1.3-3-3c0-1.3,0.8-2.4,2-2.8V18.8c-1.2-0.4-2-1.5-2-2.8c0-0.5,0.1-0.9,0.3-1.3l-4.1-4.1L5.8,22.1C5.3,22.6,5,23.3,5,24c0,0.7,0.3,1.4,0.8,1.9l16.3,16.3c0,0,0,0,0,0c0.5,0.5,1.2,0.8,1.9,0.8s1.4-0.3,1.9-0.8l16.3-16.3c0.5-0.5,0.8-1.2,0.8-1.9C43,23.3,42.7,22.6,42.2,22.1z"></path>
                            </svg>
                        </div>
                        <span>Git</span>
                        <div class="brillo"></div>
                    </div>

                    <div class="habilidad">
                        <div class="icono">
                            <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="96" height="96" viewBox="0 0 48 48">
                                <path fill="#d50000" d="M0,15h48v17H24v3H13v-3H0V15z"></path><path fill="#fff" d="M3 29L8 29 8 21 11 21 11 29 13 29 13 18 3 18zM16 18v14h5v-3h5V18H16zM24 26h-3v-5h3V26zM29 18L29 29 34 29 34 21 37 21 37 29 40 29 40 21 43 21 43 29 45 29 45 18z"></path>
                            </svg>
                        </div>
                        <span>Npm</span>
                        <div class="brillo"></div>
                    </div>

                </div>
            </div>
        </div>
    </section>

    <section id="proyectos">
        <div class="contenido2">
            <h1>Proyectos</h1>
            <div class="proyectos-grid">
                
                <div class="proyecto">
                    <div class="proyecto-imagen">
                        <img src="/Permodoro.png" alt="Proyecto 1">
                        <div class="overlay">
                            <div class="proyecto-links">
                                <a href="https://gabrielaedopozo.github.io/Permodoro/" class="btn-demo"><i class="fas fa-eye"></i> Demo</a>
                                <a href="https://github.com/GabrielAedoPozo/Permodoro" class="btn-codigo"><i class="fab fa-github"></i> Código</a>
                            </div>
                        </div>
                    </div>
                    <div class="proyecto-info">
                        <h3>Permodoro | Temporizador de Estudio</h3>
                        <p>Pagina que ayuda a estudiantes hecha principalmente en JavaScript</p>
                        <div class="tecnologias">
                            <span>HTML</span>
                            <span>CSS</span>
                            <span>JavaScript</span>
                        </div>
                    </div>
                </div>

                <div class="proyecto">
                    <div class="proyecto-imagen">
                        <img src="/Portafolio.png" alt="Proyecto 2">
                        <div class="overlay">
                            <div class="proyecto-links">
                                <a href="#" class="btn-demo"><i class="fas fa-eye"></i> Demo</a>
                                <a href="https://github.com/GabrielAedoPozo/portafolio1/tree/master" class="btn-codigo"><i class="fab fa-github"></i> Código</a>
                            </div>
                        </div>
                    </div>
                    <div class="proyecto-info">
                        <h3>Portafolio Personal</h3>
                        <p>Mi portafolio actual desarrollado con Astro y CSS avanzado.</p>
                        <div class="tecnologias">
                            <span>Astro</span>
                            <span>CSS</span>
                        </div>
                    </div>
                </div>

                <div class="proyecto">
                    <div class="proyecto-imagen">
                        <img src="/Kusisa.png" alt="Proyecto 3">
                        <div class="overlay">
                            <div class="proyecto-links">
                                <a href="https://kusisareposteria.com/" class="btn-demo"><i class="fas fa-eye"></i> Demo</a>
                                <a href="https://github.com/GabrielAedoPozo/Kusisa-/tree/master" class="btn-codigo"><i class="fab fa-github"></i> Código</a>
                            </div>
                        </div>
                    </div>
                    <div class="proyecto-info">
                        <h3>Kusisa Repostería</h3>
                        <p>Pagina de presentación Kusisa Repostería</p>
                        <div class="tecnologias">
                            <span>HTML</span>
                            <span>Tailwind</span>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <section id="contacto">
        <div class="contenido2">
            <h1>¡Conectemos!</h1>
            <p class="contacto-descripcion">¿Tienes un proyecto en mente? ¡Me encantaría escucharte!</p>
            
            <div class="contacto-container">
                <div class="contacto-info">
                    <div class="contacto-item">
                        <div class="contacto-icono">
                            <i class="fas fa-envelope"></i>
                        </div>
                        <div class="contacto-texto">
                            <h3>Email</h3>
                            <p>aedothegabriel@gmail.com</p>
                        </div>
                    </div>

                    <div class="contacto-item">
                        <div class="contacto-icono">
                            <i class="fas fa-map-marker-alt"></i>
                        </div>
                        <div class="contacto-texto">
                            <h3>Ubicación</h3>
                            <p>Lima, Perú 🇵🇪</p>
                        </div>
                    </div>

                    <div class="contacto-item">
                        <div class="contacto-icono">
                            <i class="fas fa-clock"></i>
                        </div>
                        <div class="contacto-texto">
                            <h3>Disponibilidad</h3>
                            <p>Lun - Vie, 4:30 PM - 7:00 PM</p>
                        </div>
                    </div>
                </div>

                <div class="contacto-form">
                    <form>
                        <div class="form-group">
                            <input type="text" placeholder="Tu nombre" required>
                            <i class="fas fa-user"></i>
                        </div>
                        
                        <div class="form-group">
                            <input type="email" placeholder="Tu email" required>
                            <i class="fas fa-envelope"></i>
                        </div>
                        
                        <div class="form-group">
                            <input type="text" placeholder="Asunto" required>
                            <i class="fas fa-tag"></i>
                        </div>
                        
                        <div class="form-group">
                            <textarea placeholder="Cuéntame sobre tu proyecto..." rows="5" required></textarea>
                            <i class="fas fa-comment"></i>
                        </div>
                        
                        <button type="submit" class="btn-enviar">
                            <span>Enviar Mensaje</span>
                            <i class="fas fa-paper-plane"></i>
                        </button>
                    </form>
                </div>
            </div>

            <div class="redes-sociales">

                <div class="redes-container">
                    <a href="https://github.com/GabrielAedoPozo" class="red-social github">
                        <i class="fab fa-github"></i>
                        <span>GitHub</span>
                    </a>
                    <a href="#" class="red-social linkedin">
                        <i class="fab fa-linkedin"></i>
                        <span>LinkedIn</span>
                    </a>
                    <a href="#" class="red-social discord">
                        <i class="fab fa-discord"></i>
                        <span>Discord</span>
                    </a>
                </div>
            </div>
        </div>
    </section>


<script>
  // Función para observar elementos y animarlos
  function setupScrollAnimations() {
    const observerOptions = {
      threshold: 0.1,
      rootMargin: '0px 0px -50px 0px'
    };

    const observer = new IntersectionObserver((entries) => {
      entries.forEach(entry => {
        if (entry.isIntersecting) {
          entry.target.classList.add('animate-in');
          observer.unobserve(entry.target);
        }
      });
    }, observerOptions);

    // Elementos que queremos animar
    const elementsToAnimate = document.querySelectorAll(
      '.contenido2, .habilidad, .proyecto, .contacto-item, .contacto-form, .redes-container'
    );

    elementsToAnimate.forEach(element => {
      element.classList.add('animate-on-scroll');
      observer.observe(element);
    });
  }

  // Ejecutar cuando el DOM esté listo
  document.addEventListener('DOMContentLoaded', setupScrollAnimations);
</script>
</Layout>